html, textarea, button, input {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

body {
	/*max-*/width: 500px;
	display: table;
	table-layout: fixed;
	margin: auto;
	padding: 15px;
	overflow: hidden;
}

@media only screen and (max-width: 530px) {
	body, textarea, input {
		width: calc(100vw - 2 * 15px);
	}
}

textarea {
	width: 100%;
	height: 85vh;
	resize: none;
	outline: none;
	border: none;
}

input {
	font-family: Consolas;
	border: none;
	outline: none;
}

#ctntm::-webkit-scrollbar {
	width: 5px;
}

#ctntm::-webkit-scrollbar-thumb {
	background: #666; 
}

#options {
	font-family: Consolas;
}

#copiedLink {
	font-family: Consolas;
	position: fixed;
	left: 10px;
	bottom: 10px;
	background: #424242;
	color: #fff;
	padding: 5px;
	font-weight: bold;
}

#linktopage {
	opacity: 0;
	height: 0;
	position: fixed;
	top: -100vh;
}

#other {
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: #888;
}

#options a {
	margin-left: 5px;
	margin-right: 5px;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}
