html, textarea, button, input {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

body {
	/*max-*/width: 500px;
	display: table;
	table-layout: fixed;
	margin: auto;
	padding: 15px;
	overflow: hidden;
}

@media only screen and (max-width: 530px) {
	body, textarea, input {
		width: calc(100vw - 2 * 15px);
	}
}

textarea {
	width: 100%;
	height: 85vh;
	resize: none;
	outline: none;
	border: none;
}

input {
	font-family: Consolas;
	border: none;
	outline: none;
}

#ctntm::-webkit-scrollbar {
	width: 5px;
}

#ctntm::-webkit-scrollbar-thumb {
	background: #666; 
}

#options {
	font-family: Consolas;
	position: fixed;
	top: 15px;
	left: 15px;
}

#copiedLink {
	font-family: Consolas;
	position: fixed;
	left: 10px;
	bottom: 10px;
	background: #424242;
	color: #fff;
	padding: 5px;
	font-weight: bold;
}

#linktopage {
	opacity: 0;
	height: 0;
	position: fixed;
	top: -100vh;
}

#other {
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: #888;
}

#options a {
	margin-left: 5px;
	margin-right: 5px;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

ad {
	font-size: 10px;
	border: 1px solid #006621;
	color: #006621;
	border-radius: 3px;
	padding: 0 2px;
	margin-right: 4px;
}

twitter {
	font-size: 10px;
	border: 1px solid #4286f4;
	color: #4286f4;
	border-radius: 3px;
	padding: 0 2px;
	margin-right: 4px;
}

adcover a {
	color: #4286f4;
}